<!DOCTYPE HTML PUBLIC "-//SoftQuad Software//DTD HoTMetaL PRO 6.0::19990601::extensions to HTML 4.0//EN" "hmpro6.dtd">
<HTML> 
  <HEAD> <LINK REL="stylesheet" TYPE="text/css" HREF="/castalia.css"> 
	 <TITLE>Castalia Pictures - CastaliaMusic.ca</TITLE> 
  </HEAD> 
  <BODY> 
	 <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="800"> 
		<TR> 
		  <TD WIDTH="217" HEIGHT="122"> <A HREF="/"><IMG NAME="Castalia"
			 SRC="/images/menu/menu_1x1.gif" WIDTH="217" HEIGHT="122" BORDER="0"
			 ALT="Castalia"></A></TD> 
		  <TD WIDTH="177" HEIGHT="122"> <A HREF="/biography.shtml"><IMG
			 NAME="menu1" SRC="/images/menu/menu_1x2.gif" WIDTH="177" HEIGHT="122"
			 BORDER="0" ALT="Castalia's Biography"></A></TD> 
		  <TD WIDTH="193" HEIGHT="66"> <A HREF="/appearances/index.shtml"><IMG
			 NAME="menu2" SRC="/images/menu/menu_1x3.gif" WIDTH="193" HEIGHT="66" BORDER="0"
			 ALT="Appearances, Concerts, Workshops, Tours, Lectures, Presentations"></A><BR>
			 <A HREF="/albums/index.shtml"><IMG NAME="menu5" SRC="/images/menu/menu_3x1.gif"
			 WIDTH="193" HEIGHT="56" BORDER="0" ALT="Discography, CDs, albums"></A></TD> 
		  <TD WIDTH="213" HEIGHT="60"> <A HREF="/newsletter.shtml"><IMG
			 NAME="menu3" SRC="/images/menu/menu_1x4.gif" WIDTH="213" HEIGHT="60" BORDER="0"
			 ALT="Sign up for Castalia's newsletter!"></A><BR><A
			 HREF="/media/index.shtml"><IMG NAME="menu4" SRC="/images/menu/menu_2x1.gif"
			 WIDTH="213" HEIGHT="62" BORDER="0" ALT="Media, interviews"></A></TD> 
		</TR> 
	 </TABLE> 
	 <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="800"> 
		<TR> 
		  <TD WIDTH="217" VALIGN="TOP"> <A HREF="/index.shtml"><IMG NAME="menu8"
			 SRC="/images/menu/menu_5x1.gif" WIDTH="217" HEIGHT="118" BORDER="0"
			 ALT="Home"></A><BR><A HREF="/cgi/images/images.cgi?dir=../../photos"><IMG
			 NAME="menu9" SRC="/images/menu/menu_6x1.gif" WIDTH="217" HEIGHT="93" BORDER="0"
			 ALT="Castalia's Photos"></A><BR><A HREF="/links.shtml"><IMG NAME="menu10"
			 SRC="/images/menu/menu_7x1.gif" WIDTH="217" HEIGHT="90" BORDER="0"
			 ALT="Links"></A></TD> 
		  <TD VALIGN="TOP"> 
			 <TABLE BORDER="1" CELLPADDING="0" CELLSPACING="0">
				<TR>
				  <TD VALIGN="TOP">
					 <TABLE BORDER="1" CELLPADDING="0" CELLSPACING="0"> 
						<TR> 
						  <TD><%DirectoryTitle%></TD> 
						</TR> 
					 </TABLE> 
					 <P><%directories%></P></TD>
				  <TD ROWSPAN="2" VALIGN="TOP">
					 <TABLE BORDER="1" CELLPADDING="0" CELLSPACING="0"> 
						<TR> 
						  <TD><%ImageTitle%></TD> 
						</TR> 
					 </TABLE> 
					 <P><%image%></P></TD>
				</TR>
				<TR>
				  <TD VALIGN="TOP">
					 <TABLE BORDER="1" CELLPADDING="0" CELLSPACING="0"> 
						<TR> 
						  <TD><%ImagesTitle%></TD> 
						</TR> 
					 </TABLE> 
					 <P><%images%></P></TD>
				</TR>
			 </TABLE> </TD> 
		</TR> 
	 </TABLE> 
	 <P></P> 
	 <P> </P> 
	 <TABLE> 
		<TR> 
		  <TD WIDTH="217" VALIGN="TOP"> </TD> 
		  <TD VALIGN="TOP" ALIGN="center"> 
			 <P ALIGN="center"></P> 
			 <P ALIGN="center"><IMG SRC="/images/straight_bar.gif" BORDER="0"
				ALT="straight_bar.gif" WIDTH="599" HEIGHT="32"></P> 
			 <P ALIGN="center">All contents of this website <BR>Copyright
				2002-2008 Castalia <BR>Site design by
				<A HREF="http://www.emogic.com/" TARGET="_blank">Emogic</A> </P></TD> 
		</TR> 
	 </TABLE> </BODY>
</HTML>
